* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1440px;
  overflow: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap");

.container {
  background-color: hsl(217, 54%, 11%);
  width: 1440px;
  height: 800px;
  position: absolute;
}
.nft-card {
  background: hsl(216, 50%, 16%);
  width: 350px;
  height: 560px;
  border-radius: 10px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 10px; */
}

.nft-img img {
  width: 310px;
  height: 290px;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
  margin: 10px 0px 10px 10px;
  /* margin: 10px; */
  transition: 0.2s ease-in-out;
}
.nft-img img:hover {
  width: 310px;
  height: 290px;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
  margin: 10px 0px 10px 10px;
  /* margin: 10px; */
  cursor: pointer;
  opacity: 30%;
}
.nft-img img {
  width: 310px;
  height: 290px;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
  margin: 10px 0px 10px 10px;
  /* margin: 10px; */
  transition: 0.2s ease-in-out;
}

.nft-header h1 {
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
  /* font-weight: 600; */
  font-size: 20px;
  margin: 20px 10px 10px 20px;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
}
.nft-header h1:hover {
  font-family: "Outfit", sans-serif;
  color: hsl(178, 100%, 50%);
  /* font-weight: 600; */
  font-size: 20px;
  margin: 20px 10px 10px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.nft-description p {
  font-family: "outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 5px 20px;
}
.nft-price img {
  width: 10px;
}
.nft-price p {
  font-family: "outfit", sans-serif;
  color: hsl(178, 100%, 50%);
  font-size: 15px;
}
.nft-price {
  display: flex;
  gap: 7px;
  margin: 10px;
  margin: 10px 20px 10px 20px;
}
.nft-days {
  display: flex;
  gap: 7px;
  /* margin: 10px; */
  width: 200px;
  position: relative;
  left: 230px;
  bottom: 30px;
}
.nft-days p {
  color: hsl(215, 51%, 70%);
  font-family: "outfit", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.nft-days img {
  width: 150px;
}
.nft-divide {
  border-top: 1px solid hsl(215, 51%, 70%);
  opacity: 30%;
  width: 800px;
}
.nft-creator {
  width: 300px;
  background: none;
  display: flex;
  align-items: center;
  position: absolute;
}
.nft-creator img {
  width: 500px;
  position: relative;
  left: 30px;
  border: 1px solid white;
  border-radius: 50px;
}

.creation {
  font-family: "outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  position: relative;
  left: 43px;
  font-size: 15px;
}
.name {
  font-family: "outfit", sans-serif;
  color: white;
  font-size: 15px;
  position: relative;
  left: -5px;
  transition: 0.2s ease-in-out;
}
.name:hover {
  font-family: "outfit", sans-serif;
  color: hsl(178, 100%, 50%);
  font-size: 15px;
  position: relative;
  left: -5px;
  cursor: pointer;
}
.overlay {
  width: 310px;
  height: 290px;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
  margin: 10px 0px 10px 10px;
  /* margin: 10px; */
  transition: 0.2s ease-in-out;
}
